<li>
    <a pRipple 
        class="flex items-center cursor-pointer p-4 rounded-border text-surface-700 dark:text-surface-100 hover:bg-surface-100 dark:hover:bg-surface-700 duration-150 transition-colors p-ripple"
        [ngClass]="isChild() ? 'single-level-child': 'single-level-root'"
        [routerLink]="data().routeLink" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <i class="mr-2 sidenav-link-icon" [class]="data().icon"></i>
        <span class="sidenav-link-text">{{ data().label }}</span>
    </a>
</li>